table, th, td {
    border:1px solid black;
  }


  header.center, .center {
    text-align: center;
    font-size: 30px;
  }

  p.combo-des {
    font-style: italic;
  }

  ul.home {
  list-style-position: inside;
  }

  .nav